<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Notes</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <nav class="bg-gray-800 p-4">
        <div class="container mx-auto flex justify-between items-center">
            <div class="text-white font-bold text-xl">My Notes App</div>
            <ul class="flex space-x-4">
                <li><a href="/" class="text-white hover:text-gray-300">Home</a></li>
                <li><a href="/notes" class="text-white hover:text-gray-300">My Notes</a></li>
            </ul>
        </div>
    </nav>
   <div class="main">
    <div class="box h-[30vh] w-[40vw] bg-red-400"></div>
   </div>

</body>
</html>